body {
  font-family: 'Red Rose', cursive;
  font-weight: bold;
}

/* .video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: auto;
} */

/* video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  z-index: 2;
}

h1 {
  font-size: 50px;
  text-align: center;
}

p {
  margin: 0;
  font-size: 32px;
}

p a {
  text-decoration: none;
  color: #ef233c;
  cursor: pointer;
}
