body {
  font-family: 'Red Rose', cursive;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 50px;
  text-align: center;
}

p {
  margin: 0;
  font-size: 32px;
}

p a {
  text-decoration: none;
  color: #ef233c;
  cursor: pointer;
}
